.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.horizontalGrid {
  fill: none;
  shape-rendering: crispEdges;
  stroke: grey;
  stroke-width: 1px;
  opacity: 0.5;
}

.histogram {
  overflow: scroll;
}
