{
  "stage": 2, // Draft + Candidate
  "plugins": [ "extensible-destructuring:after" ],
  "blacklist": [ "es6.destructuring" ],
  "optional": [
    // Stage 1 - Proposal
    "es7.classProperties",
    "es7.decorators",
    "es7.objectRestSpread",
    // Stage 0 - Strawman
    "es7.functionBind"
  ]
}
