target
bin
/bin
*.pyc
/node_modules
*.js~
/.tern-project
/lib/GoogleClosureLibrary/closure/bin/build/source.pyc
/lib/GoogleClosureLibrary/closure/bin/build/treescan.pyc
/.projectile
/.tern-port
/build/user.build.properties/*
.DS_Store
/bower_components/
jsconfig.json
npm_debug.log
selenium-debug.log