<!-- aisle-editor.html file -->
<div class="modal-header">
    <h3>Create Aisle</h3>
</div>
<div class="modal-body">
	<div class="alert alert-danger" ng-repeat="msg in aisleForm.messages">{{msg}}</div>
    <div id='instructions'>
        Describe the bays on this aisle.  (You can adjust the oddballs later.)
    </div>
    <br>
	<form class="form-horizontal" role="form">
		<div class="form-group">
  			<label for="organizationIdInput" class="col-sm-4 control-label">Aisle ID: </label>
			<div class="col-sm-8">
	  			<input type="text" required id="aisleId" class='form-control' autocomplete='on' autofocus ng-model="aisleForm.aisleId" />
			</div>
		</div>
		<div class="form-group">
  			<label for="organizationIdInput" class="col-sm-4 control-label">Bay Height: </label>
			<div class="col-sm-8">
	  			<input type="text" required id="aisleId" class='form-control' autocomplete='on' autofocus ng-model="aisleForm.bayHeight" placeholder="Feet"/>
			</div>
		</div>
  <div class="form-group">
	  <label for="organizationIdInput" class="col-sm-4 control-label">Bay Width: </label>
	  <div class="col-sm-8">
		   <input type="text" required id="aisleId" class='form-control' autocomplete='on' autofocus ng-model="aisleForm.bayWidth" placeholder="Feet"/>
	  </div>
  </div>
  <div class="form-group">
	  <label for="organizationIdInput" class="col-sm-4 control-label">Bay Depth: </label>
	  <div class="col-sm-8">
		   <input type="text" required id="aisleId" class='form-control' autocomplete='on' autofocus ng-model="aisleForm.bayDepth" />
	  </div>
  </div>
  <div class="form-group">
	  <label for="organizationIdInput" class="col-sm-4 control-label">Bays High: </label>
	  <div class="col-sm-8">
		   <input type="text" required id="aisleId" class='form-control' autocomplete='on' autofocus ng-model="aisleForm.baysHigh" placeholder="Feet" />
	  </div>
  </div>
  <div class="form-group">
	  <label for="organizationIdInput" class="col-sm-4 control-label">Bays Long: </label>
	  <div class="col-sm-8">
		   <input type="text" required id="aisleId" class='form-control' autocomplete='on' autofocus ng-model="aisleForm.baysLong" placeholder="Num" />
	  </div>
  </div>
  <div class="form-group">
	  <label for="organizationIdInput" class="col-sm-4 control-label">Controller ID: </label>
	  <div class="col-sm-8">
		   <input type="text" required id="aisleId" class='form-control' autocomplete='on' autofocus ng-model="aisleForm.controllerId" placeholder="Num" />
	  </div>
  </div>
  <div class="form-group">
	  <div class="col-sm-offset-4 col-sm-8">
		  <div class="checkbox">
			  <label>
				  <input type="checkbox" id="isLeftHandBay" ng-model="aisleForm.isLeftHandBay" value="true"	 ng-true-value="true" ng-false-value="false" /> Left Hand Bay
			  </label>
		  </div>
	  </div>
  </div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
