<!-- change-che-description.html file
-->
<form name="che-form">
	<div class="modal-header">
		<h3>Change Che</h3>
	</div>
	<div class="modal-body">
		<div id='instructions'>
			<!-- forcing separate lines on these instructions-->
			<p>Enter Che information.</p>
		</div>
		<!-- web examples show adding ng-controller="thisLinkCtrl", but that kills the ok,cancel button action -->

        New Description: <input type="text" name="input" ng-model="che.description">
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="controller.ok()">Save</button>
		<button class="btn btn-warning" ng-click="controller.cancel()">Cancel</button>
	</div>
</form>
