<!-- change-che-description.html file
-->
<form name="che-form">
	<div class="modal-header">
		<h3>Change Che</h3>
	</div>
	<div class="modal-body">
      <div class="alert alert-danger" ng-repeat="msg in cheForm.messages">{{msg}}</div>
		<div id='instructions'>
			<!-- forcing separate lines on these instructions-->
			<p>Enter Che information.</p>
		</div>
		<!-- web examples show adding ng-controller="thisLinkCtrl", but that kills the ok,cancel button action -->

		<p>CHE Name: <input type="text" name="domainid" ng-model="che.domainid"></p>
		<p>Description: <input type="text" name="description" ng-model="che.description"></p>
		<p>Color: <select name="color" ng-model="che.color">
				<option value="RED">RED</option>
				<option value="GREEN">GREEN</option>
				<option value="BLUE">BLUE</option>
				<option value="MAGENTA">MAGENTA</option>
				<option value="CYAN">CYAN</option>
				<option value="ORANGE">ORANGE</option>
				<option value="WHITE">WHITE</option>
		</select></p>
		<p>Controller ID: <input type="text" name="cntrlrid" ng-model="che.cntrlrid"></p>
        <p>Process Mode: <select name="processMode" ng-model="che.processMode">
                <option value="SETUP_ORDERS">SETUP ORDERS</option>
                <option value="LINE_SCAN">LINE SCAN</option>
                <option value="PALLETIZER">PALLETIZER</option>
        </select></p>
        <p>Scanner Type: <select name="scannerType" ng-model="che.scannerType">
                <option value="ORIGINALSERIAL">ORIGINAL SERIAL</option>
                <option value="CODECORPS3600">CODECORPS 3600</option>
        </select></p>
        <p>Lighting Type: <select name="cheLighting" ng-model="che.cheLighting">
                <option value="POSCON_V1">POSCON</option>
                <option value="LABEL_V1">LABEL</option>
                <option value="NOLIGHTING">NO LIGHTING</option>
        </select></p>
	</div>
	<div class="modal-footer">
		<button class="btn" ng-click="controller.cancel()">Cancel</button>
        <span ng-switch="mode">
		  <button ng-switch-when="edit" class="btn btn-primary" ng-click="controller.edit()">Save</button>		  
		  <button ng-switch-when="add" class="btn btn-primary" ng-click="controller.add()">Add</button>
        </ngSwitch>
	</div>
</form>
