<form class="form-horizontal" role="form" name="item-form">
	<div class="modal-header">
		<h3>Change Item</h3>
	</div>
	<div class="modal-body">
		<div class="alert alert-danger" ng-repeat="globalError in response.errors.globalErrors">{{globalError.message}}</div>
		<div class="alert alert-danger" ng-repeat="(field, fieldErrors) in response.errors.fieldErrors">
			<div ng-repeat="fieldError in fieldErrors">{{fieldError.message}}</div>
		</div>
		<div id='instructions'>
			<!-- forcing separate lines on these instructions-->
			<p>Enter item information.</p>
		</div>
        <div class="form-group" ng-show="item.itemLocations">
            <label for="" class="col-sm-4 control-label">Item Locations:</label>
            <div class="col-sm-8">
                <span>{{item.itemLocations}}:</span>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Sku: </label>
            <div class="col-sm-8">
                <span>{{item.sku}}:</span> <span>{{item.description}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Location Alias: </label>
            <div class="col-sm-8">
                <input type="text" id="locationAlias" class='form-control' autocomplete='on' autofocus ng-model="item.locationAlias" />
            </div>
        </div>
        <div class="form-group">
            <label for="organizationIdInput" class="col-sm-4 control-label">CM From Left: </label>
            <div class="col-sm-8">
                <input type="text"  id="cmFromLeft" class='form-control' autocomplete='on' autofocus ng-model="item.cmFromLeft" />
            </div>
        </div>
        <div class="form-group">
            <label for="organizationIdInput" class="col-sm-4 control-label">Unit Of Measure: </label>
            <div class="col-sm-8">
                <input type="text"  id="uom" class='form-control' autocomplete='on' autofocus ng-model="item.uom" />
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="controller.ok()">Save</button>
		<button class="btn btn-warning" ng-click="controller.cancel()">Cancel</button>
	</div>
</form>
