<!-- change-tier-description.html file
-->
<form name="tier-form">
	<div class="modal-header">
		<h3>Change Tier</h3>
	</div>
	<div class="modal-body">
		<div id='instructions'>
			<!-- forcing separate lines on these instructions-->
			<p>Enter Tier information.</p>
		</div>
		<!-- web examples show adding ng-controller="thisLinkCtrl", but that kills the ok,cancel button action -->
		<div>
			LED Controller:
			<select ng-model="tier.ledControllerId" ng-options="o.domainId as o.domainId for o in ledControllers"></select>
		</div>
		<div>
			LED Channel ID:
			<select ng-model="tier.ledChannel" ng-options="o as o for o in channelRange"></select>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn " ng-click="controller.cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="controller.ok()">Save</button>
	</div>
</form>
