<!-- dialog.html file -->
        <!-- From dWahlin  Building an Angular Dialog Service-->
<!-- This supports gives fast two-button dialog with optional callback on clicking ok-->
<div class="modal-header">
    <h3>{{dialogOptions.headerText}}</h3>
</div>
<div class="modal-body">
    <p>{{dialogOptions.bodyText}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn" id="thecancelbutton"
            ng-style="{'visibility':dialogOptions.cancelButtonVisibility}"
            ng-click="controller.cancel()">{{dialogOptions.cancelButtonText}}</button>
    <button class="btn btn-primary"
            ng-click="controller.ok()">{{dialogOptions.actionButtonText}}</button>
</div>
