<!-- link-dropbox-dlog.html file
     author jon ranstrom 2014.04.16
     The goal is a an angular-ish dialog with consistent styles
-->
<form name="link_config">

	<div class="modal-header">
		<h3>Configure the DropBox Link</h3>
	</div>
	<div class="modal-body">
		<div id='instructions'>
			<!-- forcing separate lines on these instructions-->
			<p>Click <strong>Link</strong> to link this facility to a Dropbox account.</p>
			<p>This will open a URL in a new browser window that will make the request to Dropbox.
				Once you approve the link in Dropbox it will give you a code.</p>
			<p>Copy the DBX code into the text box and press <strong>Save</strong>.</p>
		</div>
        Access Code: <input type="text" name="input" ng-model="dropbox.accessCode">
	</div>

	<div class="modal-footer">
		<button class="btn" ng-click="controller.cancel()">Cancel</button>
		<button class="btn btn-warning" ng-click="controller.link()">Link</button>
		<button class="btn btn-primary" ng-click="controller.ok()">Save</button>
</div>
</form>
