<!-- set-facility-name.html file
-->
<form name="facility-form">
	<div class="modal-header">
		<h3>Set Facility Name</h3>
	</div>
	<div class="modal-body">
	 	<div class="alert alert-danger" ng-repeat="(field, fieldErrors) in response.errors.fieldErrors">
			<div ng-repeat="fieldError in fieldErrors">{{fieldError.message}}</div>
		</div>
		<div id='instructions'>
			<!-- forcing separate lines on these instructions-->
			<p>Domain ID is the internal code name of the facility. This determines the file directory within your dropbox.</p>
			<p>Normally you do this as the first step of site setup, and never change it.</p>
			<p>

			</p>
			<p>If you change Domain ID later, it will change your dropbox configuration, and may have other impacts. A change to Facility Full Name will not matter, unless there are add-on reporting and data extractions that care.</p>
		</div>

		<p>Domain ID: <input type="text" name="input" ng-model="facility.domainId"></p>
		<p>Facility Full Name: <input type="text" name="input" ng-model="facility.description"></p>
		<p>Primary Site Controller ID: <input type="text" name="input" ng-model="facility.primarySiteControllerId"></p>
		<p>Primary Radio Channel: <input type="text" name="input" ng-model="facility.primaryChannel"></p>
	</div>

	<div class="modal-footer">
		<button class="btn " ng-click="controller.cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="controller.ok()">Save</button>
	</div>
</form>
