// Remember to use rems and ems. http://css-tricks.com/rems-ems.

@import '~bootstrap/dist/css/bootstrap.css'
@import '~pages/css/pages-icons.css'
@import '~pages/css/pages.css'
//@import '~inspinia/styl/variables.styl'


// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
*
  -webkit-tap-highlight-color rgba(0,0,0,0)

// Goodness.
*, ::after, ::before
  box-sizing border-box

.modal-header.bg-primary
  background-color: $primary

.table.table-hover tbody tr:hover > td {
  background: #daeffd !important;
}

//combined striped and hover didn't work well on odd rows with default pages
.table.table-striped tbody tr.odd > td {
  background: #fff !important;
}

.table.table-hover tbody tr.row-details:hover > td {
 background: #fff !important;
}

.table.table-striped.table-hover tbody tr.odd:hover > td {
  background: #daeffd !important;
}
