dt {
    font-family: 'Montserrat';
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

dd {
  height: 1.5em;
  margin-bottom: .83em;
  word-wrap: break-word;
}

.detail-title dd {
  height: inherit;
}

dl.inline {
  margin-bottom: .83em;
}

dl.inline dd {
  display: inline;
}
dl.inline dd:after{
  display: block;
  content: '';
}
dl.inline dt{
  display: inline-block;
  margin-right: 1em;
}
