@import "~orb/dist/orb.css";

.orb .filter {
  display: none;
}

.orb .cell.selected {
    background-color: #daeffd!important;
}

.orb .flds-grp-cap {
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.orb .caption {
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.orb .inner-table .header {
    font-family: 'Montserrat';
    position: relative;
    display: table-cell;
    height: initial;
    z-index: 0;
}

.orb .cell {
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
