.healthOk {
	color: #1ab394;
}

.healthFail {
	color: #a94442;
}

.labelAppserver {
	background-color: #1c84c6;
	color: #FFFFFF;
}

.labelElasticsearch {
	background-color: #23c6c8;
	color: #FFFFFF;
}

.labelSitecontroller {
	background-color: #1ab394;
  	color: #FFFFFF;
}

.hostDescription {
  	color: #676a6c;
}

.hostName {
  	color: #2f4050;
  	font-weight: bold;
}